name: md-to-website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:

    # Any prerequisite steps
    - uses: actions/checkout@master
    - run: git clone https://github.com/batunpc/palpatine
    - run: cd palpatine && mkdir build && cd build && cmake .. && make && cd ./app && ./palpatine -o web -i ./website
    # Deploy to local repo
    - name: Deploy
      uses: s0/git-publish-subdir-action@develop
      env:
        REPO: self
        BRANCH: gh-pages
        FOLDER: build/app/website
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
